body {
    background-color: wheat;
}
h1 { 
    font-weight: semi-bold;
    font-size: 40px;
}
input {
    border-radius: 5px;
}

ul {

    display: flex;
    flex-direction: column;
    align-items: center;
    
    li {
        border-radius: 20px;
        list-style: none;
        background-color: #fff1cc;
        width: 80%;
        margin: 1% 0;
        padding-bottom: 2.5%;
        padding-top: 0.5%;

        h3{
            color: #C8816F;
        }
    }
}

.phoneNum__caption, .address__caption {
    font-size: 13px;
    }

.contractStart {
    margin-top: 1%;
}
.contractStart__datePicker, .contrFinish__datePicker{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
    
    label {
    font-size: 13px;
    }

    input {
    font-size: 13px;
    text-align: center;
    width: 15%;
    }
}

.button--save {
    background-color: #00b1dd;
    border-radius: 15%;
    color: whitesmoke;
    border: none;
    padding: 0.5% 3%;
    margin: 1%;
}
.button--close {
    background-color: #DBAD9C;
    border-radius: 15%;
    color: whitesmoke;
    border: none;
    padding: 0.5% 3%;
}


.button--edit {
 background-color: #F49595;
 box-shadow: 3px 3px 5px #888888; 
 color: #fff;
 border: none;
 border-radius: 15%;
 margin: 0 1%;
 padding: 1% 2%;
}

.button--delete {
 background-color: #FEB090;
 box-shadow: 3px 3px 5px #888888; 
 color: #fff;
 border: none;   
 border-radius: 15%;
 padding: 1% 1%;
}

.button--login {
 background-color: #915858;
 box-shadow: 3px 3px 5px #888888; 
 color: #fff;
 border: none;   
 border-radius: 15%;
 margin-top: 1%;
 padding: 1% 1%;
}

div {
    margin-bottom: 1% 
    
}