body {
    background-color: wheat;
}


h1 { 
    font-weight: semi-bold;
    font-size: 40px;
}
h4 {
    margin: 1% 0;
    font-size: 20px;
}

h5 {
    margin: 1.5% 0;
    font-size: 18px;
    font-weight: 600;
}

hr { 
    border: 'none'; 
    height: 1px; 
    background-color: #ec8f42;
    width: 15%;
    margin: 1rem auto 
}
input {
    border-radius: 5px;
}

ul {

    display: flex;
    flex-direction: column;
    align-items: center;
    
    li {
        border-radius: 20px;
        list-style: none;
        background-color: #fff1cc;
        width: 80%;
        margin: 1% 0;
        padding-bottom: 2.5%;
        padding-top: 0.5%;

        h3{
            color: #C8816F;
            font-size: 25px;
        }
    }
}

.phoneNum__caption, .address__caption {
    font-size: 13px;
    }

.contractStart {
    margin-top: 1%;
}
.contractStart__datePicker, .contrFinish__datePicker{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
    
    label {
    font-size: 13px;
    }

    input {
    font-size: 13px;
    text-align: center;
    width: 15%;
    }
}

.button--save {
    background-color: #00b1dd;
    border-radius: 15%;
    color: whitesmoke;
    border: none;
    font-size: 15px;    
    padding: 0.5% 3%;
    margin: 1%;
}

 .button--back {
    background-color: #915858;
    box-shadow: 3px 3px 5px #888888; 
    color: #fff;
    border: none;   
    border-radius: 30px;
    font-size: 15px;    
    margin-top: 1%;
    padding: 1% 1%;
    width: 18%;
 }

.button--cancel {
    background-color: #DBAD9C;
    border-radius: 15%;
    color: whitesmoke;
    font-size: 15px;
    border: none;
    padding: 0.5% 3%;
}

.button--edit {
    background-color: #F49595;
    box-shadow: 3px 3px 5px #888888; 
    color: #fff;
    border: none;
    border-radius: 15%;
    font-size: 15px;
    margin: 0 1%;
    padding: 1% 2%;
}

.button--fullProfile {
    background-color: #CB99C9;
    box-shadow: 3px 3px 5px #888888; 
    color: #fff;
    border: none;
    border-radius: 15%;
    font-size: 15px;
    margin: 0 1%;
    padding: 1% 2%;
}

.button--delete {
    background-color: #FEB090;
    box-shadow: 3px 3px 5px #888888; 
    color: #fff;
    font-size: 15px;
    border: none;   
    border-radius: 15%;
    padding: 1% 1%;
}

.button--login{
    background-color: #915858;
    box-shadow: 3px 3px 5px #888888; 
    color: #fff;
    border: none;   
    border-radius: 15%;
    font-size: 15px;    
    margin-top: 1%;
    padding: 1% 1%;
}



div {
    margin-bottom: 1% 
    
}

.employmentHistory__Type {
    margin: 2.5% 0;
}